.banner img {
    border: 2px solid orangered;
    width: 15%;
}
.banner span {
    color: orangered;
}
.callbacks{
    color: orangered;
}
.main{
background-image: https://www.google.com/imgres?imgurl=https%3A%2F%2Fw0.peakpx.com%2Fwallpaper%2F464%2F925%2FHD-wallpaper-mechanical-black-machine-white.jpg&imgrefurl=https%3A%2F%2Fwww.peakpx.com%2Fen%2Fhd-wallpaper-desktop-kgddl&tbnid=QTBOGGjEGO9-AM&vet=12ahUKEwjbmMbs56f5AhXckdgFHaFjD48QMygdegUIARCTAg..i&docid=KNLUxwHUcXyNvM&w=800&h=500&q=black%20mechanical%20engineering%20images&ved=2ahUKEwjbmMbs56f5AhXckdgFHaFjD48QMygdegUIARCTAg;
}
.red{
    color: red;
}